<!DOCTYPE html>
<html>
<head>
    <title>DMPilot</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="http://localhost/upwork/alifar/dmpilot/DMPilot/styles/application.css" type="text/css" media="screen, handheld, projection">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="scripts/application.js"></script>
</head>
<body>
    <div class="page">

        <header>
            <div class="container">
                <img class="logo" src="images/logo.svg" />

                <a href="#" class="mobile-menu visible-tablet-down">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <ul class="menu">
                    <li><a href="#" class="active">Twitter Accounts</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>

        <content>
            <div class="container">

                <div class="admin-users">


                    <ul class="tabs">
                        <li><a href="#paid" class="active">Paid users</a></li>
                        <li><a href="#trail">Trail users</a></li>
                    </ul>

                    <div class="tab-panes">
                        <div class="tab-pane active" data-tab="paid">

                            <div class="table">
                                <div class="table-head">
                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            Email adress
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Full name
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            Join date
                                        </div>
                                        <div class="column l15 s20   hidden-tablet-down">
                                            Plan type
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            Actions
                                        </div>
                                    </div>
                                </div>
                                <div class="table-body">
                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column l20 s50 xs60">
                                            andrei@example.com
                                        </div>
                                        <div class="column l20 hidden-tablet-down">
                                            Andrie Nastasa
                                        </div>
                                        <div class="column l15 s25 xs40">
                                            10/01/2017
                                        </div>
                                        <div class="column l15 s20 hidden-tablet-down">
                                            Annual
                                        </div>
                                        <div class="column l30 s25 align-right hidden-mobile">
                                            <a href="#" class="button compact small dark  hidden-tablet-down">Reset password</a>
                                            <a href="#" class="button compact small warning">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-paging">
                                <div class="row">
                                    <div class="column hidden-mobile s40">
                                        <span class="hidden-tablet-down">Showing</span> 10
                                        <span class="hidden-tablet-down">users</span>  out of 1,526
                                    </div>
                                    <div class="column xs100 s60 align-right">
                                        <div class="paging-buttons">
                                            <a class="button paging" href="#">5</a>
                                            <a class="button paging" href="#">4</a>
                                            <a class="button paging" href="#">3</a>
                                            <a class="button paging" href="#">2</a>
                                            <a class="button paging active" href="#">1</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" data-tab="trail">
                            Tab 2
                        </div>
                    </div>

                </div>
            </div>
        </content>

    </div>
    <footer>
        An LEJC Digital Ltd Product
    </footer>
</body>
</html>
