<!DOCTYPE html>
<html>
<head>
    <title>DMPilot</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="styles/application.css" type="text/css" media="screen, handheld, projection">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="scripts/application.js"></script>
</head>
<body>
    <div class="page">

        <header>
            <div class="container">
                <img class="logo" src="images/logo.svg" />

                <a href="#" class="mobile-menu visible-tablet-down">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <ul class="menu">
                    <li><a href="#" class="active">Twitter Accounts</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>

        <content>
            <div class="container">
                Empty page
            </div>
        </content>

    </div>
    <footer>
        An LEJC Digital Ltd Product
    </footer>
</body>
</html>
