<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="usersettings.html">User Settings</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="adminusers.html">Admin users</a></li>
        <li><a href="popup.html">Popup (after 3 seconds)</a></li>
        <li><a href="empty.html">Empty page</a></li>
    </ul>
    
    
</body>
</html>
