<!DOCTYPE html>
<html>
<head>
    <title>DMPilot</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="styles/application.css" type="text/css" media="screen, handheld, projection">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="scripts/application.js"></script>
</head>
<body>
    <div class="page">

        <header>
            <div class="container">
                <img class="logo" src="images/logo.svg" />

                <a href="#" class="mobile-menu visible-tablet-down">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <ul class="menu">
                    <li><a href="#" class="active">Twitter Accounts</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>

        <content>
            <div class="container">

                <div class="dashboard">

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who have recently followed you
                                <span class="check valid"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea>Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who have mentioned you
                                <span class="check valid"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea>Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who have replied to your tweets
                                <span class="check valid"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea>Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who have added you to a list
                                <span class="check"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea disabled="disabled">Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" disabled="disabled" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who liked a tweet
                                <span class="check valid"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea>Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-wrapper">
                        <div class="info-box">
                            <div class="title">
                                People who retweeted a tweet
                                <span class="check valid"><img src="images/check.svg" /></span>
                            </div>
                            <div class="content">
                                <textarea>Vestibulum tempus, nunc vitae molestie sollicitudin, leo ligula lacinia erat, ut tincidunt lorem dolor at dolor.</textarea>
                                <div class="button-wrapper">
                                    <input type="button" value="Update" />
                                    <span class="description">1,356 DMs sent so far</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </content>

    </div>
    <footer>
        An LEJC Digital Ltd Product
    </footer>

    <div class="popup-wrapper">
        <div class="popup">
            <div class="title"></div>
            <div class="message"></div>
            <div class="button large strong agree"></div>
            <div class="button large strong outline disagree"></div>
        </div>
    </div>
</body>
</html>
